{
  "x-generator": "NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "MoogleAPI",
    "description": "A Final Fantasy data API — characters, monsters, and games.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://www.moogleapi.com"
    }
  ],
  "paths": {
    "/api/monsters/search": {
      "get": {
        "tags": [
          "Monsters",
          "Monsters"
        ],
        "operationId": "SearchMonsters",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoogleAPIWebFeaturesMonstersSearchSearchMonstersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/FastEndpointsProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/monsters/{id}": {
      "get": {
        "tags": [
          "Monsters",
          "Monsters"
        ],
        "operationId": "GetMonster",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoogleAPIWebFeaturesMonstersGetGetMonsterResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/monsters": {
      "get": {
        "tags": [
          "Monsters",
          "Monsters"
        ],
        "operationId": "GetAllMonsters",
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "nullable": false
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoogleAPIWebFeaturesMonstersGetAllGetAllMonstersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/games/{id}": {
      "get": {
        "tags": [
          "Games",
          "Games"
        ],
        "operationId": "GetGame",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoogleAPIWebFeaturesGamesGetGetGameResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/games": {
      "get": {
        "tags": [
          "Games",
          "Games"
        ],
        "operationId": "GetAllGames",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "nullable": false
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoogleAPIWebFeaturesGamesGetAllGetAllGamesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/characters/search": {
      "get": {
        "tags": [
          "Characters",
          "Characters"
        ],
        "operationId": "SearchCharacters",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoogleAPIWebFeaturesCharactersSearchSearchCharactersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/FastEndpointsProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/characters/{id}": {
      "get": {
        "tags": [
          "Characters",
          "Characters"
        ],
        "operationId": "GetCharacter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoogleAPIWebFeaturesCharactersGetGetCharacterResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/characters": {
      "get": {
        "tags": [
          "Characters",
          "Characters"
        ],
        "operationId": "GetAllCharacters",
        "parameters": [
          {
            "name": "gameId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1,
              "nullable": false
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "nullable": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MoogleAPIWebFeaturesCharactersGetAllGetAllCharactersResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MoogleAPIWebFeaturesMonstersSearchSearchMonstersResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MoogleAPIWebFeaturesMonstersSearchMonsterSearchResult"
            }
          }
        }
      },
      "MoogleAPIWebFeaturesMonstersSearchMonsterSearchResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "hitPoints": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "gameName": {
            "type": "string"
          }
        }
      },
      "MoogleAPIWebFeaturesMonstersSearchSearchMonstersRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "FastEndpointsProblemDetails": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string",
            "default": "https://www.rfc-editor.org/rfc/rfc7231#section-6.5.1"
          },
          "title": {
            "type": "string",
            "default": "One or more validation errors occurred."
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "default": 400
          },
          "instance": {
            "type": "string",
            "default": "/api/route"
          },
          "traceId": {
            "type": "string",
            "default": "0HMPNHL0JHL76:00000001"
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FastEndpointsProblemDetails_Error"
            }
          }
        }
      },
      "FastEndpointsProblemDetails_Error": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string",
            "default": "Error or field name"
          },
          "reason": {
            "type": "string",
            "default": "Error reason"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "severity": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "MoogleAPIWebFeaturesMonstersGetGetMonsterResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "hitPoints": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "gameName": {
            "type": "string"
          }
        }
      },
      "MoogleAPIWebFeaturesMonstersGetGetMonsterRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "MoogleAPIWebFeaturesMonstersGetAllGetAllMonstersResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MoogleAPIWebFeaturesMonstersGetAllMonsterSummary"
            }
          },
          "totalCount": {
            "type": "integer",
            "format": "int32"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "MoogleAPIWebFeaturesMonstersGetAllMonsterSummary": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "hitPoints": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "gameName": {
            "type": "string"
          }
        }
      },
      "MoogleAPIWebFeaturesMonstersGetAllGetAllMonstersRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "MoogleAPIWebFeaturesGamesGetGetGameResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "releaseYear": {
            "type": "integer",
            "format": "int32"
          },
          "platform": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "characterCount": {
            "type": "integer",
            "format": "int32"
          },
          "monsterCount": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "MoogleAPIWebFeaturesGamesGetGetGameRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "MoogleAPIWebFeaturesGamesGetAllGetAllGamesResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MoogleAPIWebFeaturesGamesGetAllGameSummary"
            }
          },
          "totalCount": {
            "type": "integer",
            "format": "int32"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "MoogleAPIWebFeaturesGamesGetAllGameSummary": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "releaseYear": {
            "type": "integer",
            "format": "int32"
          },
          "platform": {
            "type": "string"
          }
        }
      },
      "MoogleAPIWebFeaturesGamesGetAllGetAllGamesRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "MoogleAPIWebFeaturesCharactersSearchSearchCharactersResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MoogleAPIWebFeaturesCharactersSearchSearchResult"
            }
          }
        }
      },
      "MoogleAPIWebFeaturesCharactersSearchSearchResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "gameName": {
            "type": "string"
          }
        }
      },
      "MoogleAPIWebFeaturesCharactersSearchSearchCharactersRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "MoogleAPIWebFeaturesCharactersGetGetCharacterResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "role": {
            "type": "string",
            "nullable": true
          },
          "affiliation": {
            "type": "string",
            "nullable": true
          },
          "race": {
            "type": "string",
            "nullable": true
          },
          "hometown": {
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "gameName": {
            "type": "string"
          }
        }
      },
      "MoogleAPIWebFeaturesCharactersGetGetCharacterRequest": {
        "type": "object",
        "additionalProperties": false
      },
      "MoogleAPIWebFeaturesCharactersGetAllGetAllCharactersResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MoogleAPIWebFeaturesCharactersGetAllCharacterSummary"
            }
          },
          "totalCount": {
            "type": "integer",
            "format": "int32"
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "MoogleAPIWebFeaturesCharactersGetAllCharacterSummary": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "gameName": {
            "type": "string"
          }
        }
      },
      "MoogleAPIWebFeaturesCharactersGetAllGetAllCharactersRequest": {
        "type": "object",
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "JWTBearerAuth": {
        "type": "http",
        "description": "Enter a JWT token to authorize the requests...",
        "scheme": "Bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}